@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

}
.btn:focus .dropdown, .btn:active .dropdown {
    transform: translate(0, 20px);
    opacity: 100;
    visibility: visible;
}
.btn .material-icons {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}
.btn .dropdown {
    position: fixed;
    top: 6%;
    /* left: 79%; */
    background: #fff;
    width: 15%;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    text-align: left;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 99999;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;


}
.btn .dropdown:before {
    content: '';
    position: fixed;
    top: -6px;
    left: 10px;
    width: 0;
    height: 0;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, .05);
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    transform: rotate(-45deg);
    mix-blend-mode: multiple;
}
.btn .dropdown li {
    z-index: 1;
    position: relative;
    background: #fff;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.btn .dropdown li.active {
    color: #fab700;
}
.btn .dropdown li:first-child {
    /* border-radius: 4px 4px 0 0; */
}
.btn .dropdown li:last-child {
    border-radius: 0 0 4px 4px;
}
.btn .dropdown li:last-child a {
    border-bottom: 0;
}
.btn .dropdown a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 10px 0;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
    font-weight: 800;
}
@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
   }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
   }
}
